<div class="container">
  <div class="header">
    <h1 class="sticky1">
      <!-- Top -->
      <!-- <app-tw-effect [input1]="'Top'" [input2]="'50'" [input3]= "'200'"></app-tw-effect> -->
      <div class="dark fire">
		    <h1 class="Blazing" contenteditable="true">
          <app-tw-effect [input1]="'TOP'" [input2]="'50'" [input3]= "'200'"></app-tw-effect>
        </h1>
    </div>
    </h1>
    <h1 class="sticky2" >
      <div class="dark fire">
		    <h1 class="Blazing" contenteditable="true">
          <app-tw-effect [input1]="'RAMEN BRANDS'" [input2]="'800'" [input3]= "'150'"></app-tw-effect>
        </h1>
      </div>
    </h1>
    <div class="sub-header">
      <h2>
        <app-tw-effect [input1]="'COUNTRIES'" [input2]="'100'" [input3]= "'100'"></app-tw-effect>
      </h2>
    </div>
  </div>
  <div class="box" style="position: relative;">
      <app-card *ngFor="let n of newArray3" [input1]="n"></app-card>
    </div>
</div>


